# Python
__pycache__/
*.pyc
.venv/
venv/
.env
app/.env
app/.env.local
app/.env.production

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
terraform/linux-key.pem*

# Ansible
*.retry

# IDE / OS
.vscode/
.DS_Store
Thumbs.db

# Build artifacts
coverage.xml
.pytest_cache/

# Terraform environments
terraform/environments/*.tfvars

# Script
script.sh